<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Corporación El Obrero | Ferreterías en Jocotán, Chiquimula.</title>
  <meta name="description"
    content="Contáctanos para obtener información sobre nuestros productos y servicios en las ferreterías El Obrero y Mega Obrero en Jocotán, Chiquimula, Guatemala.">
  <meta name="keywords"
    content="contacto, ferretería, materiales de construcción, herramientas, artículos para el hogar, Jocotán, Chiquimula, Guatemala">
  <link rel="canonical" href="https://elobreroferr.store/contacto">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar w-full transition-all duration-300 ease-in-out">
      <div class="container mx-auto px-4 py-3 flex justify-between items-center">
          <a href="index.html" class="text-xl font-bold text-white flex items-center">
              <i class="fa-solid fa-gear mr-2"></i>
              <span class="hidden sm:inline">Corporación El Obrero</span>
              <span class="sm:hidden">Corporación El Obrero</span>
          </a>
          <div class="hidden md:flex space-x-6">
              <a href="index.html" class="nav-link text-lg"><i class="fas fa-home mr-1"></i>Inicio</a>
              <a href="tienda-el-obrero.html" class="nav-link text-lg"><i class="fa-solid fa-store mr-1"></i>El Obrero</a>
              <a href="tienda-mega-obrero.html" class="nav-link text-lg"><i class="fa-solid fa-shop mr-1"></i>Mega Obrero</a>
              <a href="contacto.html" class="nav-link text-lg"><i class="fa-solid fa-location-dot mr-1"></i>Contacto</a>
          </div>
          <button id="menu-btn" class="md:hidden text-white focus:outline-none">
              <i class="fas fa-bars text-2xl"></i>
          </button>
      </div>
  </nav>

<!-- Mobile Menu -->
<div id="mobile-menu" class="fixed inset-0 bg-gradient-to-b from-blue-900 to-black z-50 opacity-0 pointer-events-none transition-opacity duration-300">
  <div class="flex flex-col items-center justify-center h-full">
    <button id="close-menu" class="absolute top-8 right-4 text-white text-4xl bg-yellow-500 rounded-full w-12 h-12 flex items-center justify-center focus:outline-none transition-transform duration-300 transform scale-0">
      <i class="fas fa-times"></i>
    </button>
    <nav class="text-center space-y-6 mt-24">
      <a href="index.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fas fa-home mr-1"></i>Inicio</a>
      <a href="tienda-el-obrero.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-store mr-1"></i>El Obrero</a>
      <a href="tienda-mega-obrero.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-shop mr-1"></i>Mega Obrero</a>
      <a href="contacto.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-location-dot mr-1"></i>Contacto</a>
    </nav>
  </div>
</div>

<!-- Wrapper para el contenido principal -->
<div class="content-wrapper">

  <!-- Información de contacto section -->
  <section class="bg-white py-20">
    <div class="container mx-auto px-4">
      <h1 class="section-title">Contáctanos</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-gradient-to-r from-gray-800 to-blue-900 p-8 rounded-lg shadow-lg">
          <div class="bg-white p-6 rounded-lg">
            <h2 class="section-title">El Obrero</h2>
            <div class="mb-4 text-center">
              <p class="mb-2">Teléfono: <a href="tel:+50279465146" class="">+502 7946
                  5146</a></p>
              <p class="mb-2">WhatsApp: <a href="https://wa.me/50230446809" class=""
                  target="_blank" rel="noopener noreferrer">+502 3044 6809</a></p>
            </div>
            <div class="flex justify-center space-x-4 mb-4">
              <a href="https://www.facebook.com/profile.php?id=61558228610765" target="_blank" rel="noopener noreferrer"
                class=" transition-colors duration-300">
                <i class="fab fa-facebook text-4xl" aria-label="Facebook El Obrero"></i>
              </a>
              <a href="https://www.instagram.com/obrerojocotan" target="_blank" rel="noopener noreferrer"
                class=" transition-colors duration-300">
                <i class="fab fa-instagram text-4xl" aria-label="Instagram El Obrero"></i>
              </a>
              <a href="mailto:comercialobreroferr@gmail.com"
                class=" transition-colors duration-300">
                <i class="fas fa-envelope text-4xl" aria-label="Correo El Obrero"></i>
              </a>
            </div>
            <div class="w-full mb-4">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d241.06771748498286!2d-89.39162032442094!3d14.82057219767429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sgt!4v1718336808255!5m2!1ses-419!2sgt"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="rounded-lg shadow-lg"
                aria-label="Ubicación de la Ferretería El Obrero en Google Maps"></iframe>
            </div>
            <p class="mb-2 text-center">Barrio el cementerio, frente al mercado municipal, Jocotán, Chiquimula, Guatemala.</p>
            <div class="mt-4 bg-gray-100 p-3 rounded-lg">
              <h3 class="font-semibold text-lg mb-2">Horario de Atención:</h3>
              <p>Lunes a Sábado: 7:00 AM - 5:00 PM</p>
              <p>Domingos: 7:00 AM - 3:00 PM</p>
            </div>
          </div>
        </div>
        <div class="bg-gradient-to-r from-gray-800 to-blue-900 p-8 rounded-lg shadow-lg">
          <div class="bg-white p-6 rounded-lg">
            <h2 class="section-title">Mega Obrero</h2>
            <div class="mb-4 text-center">
              <p class="mb-2">Teléfono: <a href="tel:+50279465734" class="">+502 7946
                  5734</a></p>
              <p class="mb-2">WhatsApp: <a href="https://wa.me/50230210754" class=""
                  target="_blank" rel="noopener noreferrer">+502 3021 0754</a></p>
            </div>
            <div class="flex justify-center space-x-4 mb-4">
              <a href="https://www.facebook.com/ferreteriamegaobrero3" target="_blank" rel="noopener noreferrer"
                class=" transition-colors duration-300">
                <i class="fab fa-facebook text-4xl" aria-label="Facebook Mega Obrero"></i>
              </a>
              <a href="https://www.instagram.com/megaobrero" target="_blank" rel="noopener noreferrer"
                class=" transition-colors duration-300">
                <i class="fab fa-instagram text-4xl" aria-label="Instagram Mega Obrero"></i>
              </a>
              <a href="mailto:megaobrero@unicentegt.net"
                class=" transition-colors duration-300">
                <i class="fas fa-envelope text-4xl" aria-label="Correo Mega Obrero"></i>
              </a>
            </div>
            <div class="w-full mb-4">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d337.78439132166864!2d-89.3892238216676!3d14.816224714620065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63cd375adb464b%3A0xe1487be75650fc71!2sFerreteria%20MEGA%20OBRERO!5e0!3m2!1ses-419!2sgt!4v1718336642050!5m2!1ses-419!2sgt"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="rounded-lg shadow-lg"
                aria-label="Ubicación de la Ferretería Mega Obrero en Google Maps"></iframe>
            </div>
            <p class="mb-2 text-center">Calle Principal, Barrio San Lorenzo, Jocotán, Chiquimula, Guatemala</p>
            <div class="mt-4 bg-gray-100 p-3 rounded-lg">
              <h3 class="font-semibold text-lg mb-2">Horario de Atención:</h3>
              <p>Lunes a Sábado: 7:00 AM - 5:00 PM</p>
              <p>Domingos: 7:00 AM - 3:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Línea separadora -->
    <div class="separator-gradient ">
        <div class="line"></div>
    </div>

   <!-- Footer -->
   <footer class="footer bg-gray-800 text-white py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Información de la empresa -->
            <div class="mb-4 md:mb-0">
                <h3 class="text-2xl font-bold mb-4">Corporación El Obrero</h3>
                <p class="mb-4">Tu ferretería de confianza para <strong>materiales de construcción y herramientas</strong> en Jocotán, Chiquimula.</p>
            </div>

            <!-- Información de contacto El Obrero -->
            <div>
                <h4 class="text-xl font-semibold mb-4">Ferretería El Obrero</h4>
                <div class="space-y-2">
                    <p><i class="fas fa-map-marker-alt mr-2"></i> Barrio el cementerio, frente al mercado municipal, Jocotán, Chiquimula, Guatemala.</p>
                    <p><i class="fas fa-phone mr-2"></i> +502 7946 5146</p>
                </div>
            </div>

            <!-- Información de contacto Mega Obrero -->
            <div>
                <h4 class="text-xl font-semibold mb-4">Ferretería Mega Obrero</h4>
                <div class="space-y-2">
                    <p><i class="fas fa-map-marker-alt mr-2"></i> Calle Principal, Jocotán, Chiquimula, Guatemala.</p>
                    <p><i class="fas fa-phone mr-2"></i> +502 7946 5734</p>
                </div>
            </div>
        </div>

        <!-- Enlaces rápidos -->
        <div class="mt-8 border-t border-gray-700 pt-8">
            <ul class="flex flex-wrap justify-center space-x-4">
                <li><a href="index.html" class="hover:text-yellow-500 transition duration-300">Inicio</a></li>
                <li><a href="tienda-el-obrero.html" class="hover:text-yellow-500 transition duration-300">El Obrero</a></li>
                <li><a href="tienda-mega-obrero.html" class="hover:text-yellow-500 transition duration-300">Mega Obrero</a></li>
                <li><a href="contacto.html" class="hover:text-yellow-500 transition duration-300">Contacto</a></li>
            </ul>
        </div>

        <!-- Redes sociales -->
        <div class="mt-8">
            <div v-for="tienda in redesSociales" :key="tienda.nombre" class="flex flex-wrap items-center justify-center space-x-4 mb-4">
                <p class="font-bold">Redes Sociales {{ tienda.nombre }}:</p>
                <a v-for="red in tienda.redes" :key="red.nombre" :href="red.link" target="_blank" class="text-white hover:text-yellow-500 transition duration-300">
                    <i :class="red.icono + ' text-2xl'"></i>
                </a>
            </div>
        </div>

        <!-- Derechos de autor -->
        <div class="text-center mt-8 text-sm">
            <p>Desarrollado por <a href="https://github.com/Jio7g"> <u>JioDev</u></a> &copy; 2024 Corporación El Obrero. Todos los derechos reservados.</p>
        </div>
      </div>
    </footer>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/index-app.js"></script>
</body>
</html>