<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporación El Obrero - Ferretería en Jocotán, Chiquimula.</title>
    <meta name="description" content="Corporación El Obrero es tu ferretería de confianza en Jocotán, Chiquimula, Guatemala. Ofrecemos materiales de construcción, herramientas y artículos para el hogar de la más alta calidad.">
    <meta name="keywords" content="ferretería, materiales de construcción, herramientas, artículos para el hogar, Jocotán, Chiquimula, Guatemala">
    <link rel="canonical" href="https://elobreroferr.store/">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N3H5PCBVQN"></script>
</head>
<body>
<div id="app">
        <!-- Navbar -->
        <nav class="navbar w-full transition-all duration-300 ease-in-out">
            <div class="container mx-auto px-4 py-3 flex justify-between items-center">
                <a href="index.html" class="text-xl font-bold text-white flex items-center">
                    <i class="fa-solid fa-gear mr-2"></i>
                    <span class="hidden sm:inline">Corporación El Obrero</span>
                    <span class="sm:hidden">Corporación El Obrero</span>
                </a>
                <div class="hidden md:flex space-x-6">
                    <a href="index.html" class="nav-link text-lg"><i class="fas fa-home mr-1"></i>Inicio</a>
                    <a href="tienda-el-obrero.html" class="nav-link text-lg"><i class="fa-solid fa-store mr-1"></i>El Obrero</a>
                    <a href="tienda-mega-obrero.html" class="nav-link text-lg"><i class="fa-solid fa-shop mr-1"></i>Mega Obrero</a>
                    <a href="contacto.html" class="nav-link text-lg"><i class="fa-solid fa-location-dot mr-1"></i>Contacto</a>
                </div>
                <button id="menu-btn" class="md:hidden text-white focus:outline-none">
                    <i class="fas fa-bars text-2xl"></i>
                </button>
            </div>
        </nav>
    
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="fixed inset-0 bg-gradient-to-b from-blue-900 to-black z-50 opacity-0 pointer-events-none transition-opacity duration-300">
        <div class="flex flex-col items-center justify-center h-full">
        <button id="close-menu" class="absolute top-8 right-4 text-white text-4xl bg-yellow-500 rounded-full w-12 h-12 flex items-center justify-center focus:outline-none transition-transform duration-300 transform scale-0">
            <i class="fas fa-times"></i>
        </button>
        <nav class="text-center space-y-6 mt-24">
            <a href="index.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fas fa-home mr-1"></i>Inicio</a>
            <a href="tienda-el-obrero.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-store mr-1"></i>El Obrero</a>
            <a href="tienda-mega-obrero.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-shop mr-1"></i>Mega Obrero</a>
            <a href="contacto.html" class="block text-white text-2xl hover:text-yellow-500 transition-colors duration-300"><i class="fa-solid fa-location-dot mr-1"></i>Contacto</a>
        </nav>
        </div>
    </div>

    <!-- Wrapper para el contenido principal -->
    <div class="content-wrapper">
        
        <!-- Hero section -->
        <section class="hero relative overflow-hidden h-screen">
            <div class="swiper heroSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="img/MegaObrero-edited.jpeg" alt="Mega Obrero Ferretería" class="object-cover w-full h-full">
                  </div>
                  <div class="swiper-slide">
                    <img src="img/el-obrero.jpeg" alt="El Obrero Ferretería" class="object-cover w-full h-full">
                  </div>
                </div>
            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
            <div class="hero-content absolute inset-0 flex items-center justify-center z-10">
                <div class="bg-black bg-opacity-50 p-8 rounded-lg text-center text-white">
                    <h1 class="text-4xl sm:text-6xl font-bold mb-4">
                        <span class="typewriter">{{ typewriterText }}</span>
                    </h1>
                    <p class="text-xl sm:text-2xl mb-8" :class="{ 'fade-in': showContent }">
                        Tu ferretería de confianza para materiales de construcción y herramientas en Jocotán, Chiquimula.
                    </p>
                    <a href="contacto.html" class="bg-blue-600 text-white px-8 py-3 rounded-full text-lg font-semibold 
                                      hover:bg-blue-700 transition duration-300" 
                       :class="{ 'fade-in': showContent }">
                        ¡Comienza tu proyecto hoy!
                    </a>
                </div>
            </div>
        </section>

        <!-- Línea separadora -->
        <div class="separator-gradient ">
            <div class="line"></div>
        </div>

        <!-- Tiendas section -->
        <section class="tiendas bg-white py-20" id="tiendas">
            <div class="container mx-auto">
                <div class="text-center">
                    <h2 class="section-title">Nuestras Ferreterías</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div v-for="tienda in tiendas" :key="tienda.nombre" class="tienda bg-[#E5E5E5] p-8 rounded-lg">
                        <div class="mb-4 aspect-w-16 aspect-h-9">
                            <img :src="tienda.imagen" :alt="tienda.nombre" class="object-cover w-full h-full rounded">
                        </div>
                        <h3 class="text-2xl font-bold mb-4">{{ tienda.nombre }}</h3>
                        <p class="mb-4">{{ tienda.descripcion }}</p>
                        <a :href="tienda.link" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-[#E69100]">
                            <i class="fas fa-info-circle"></i> Ver más
                        </a>
                        <a :href="tienda.whatsapp" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-[#128C7E]">
                            <i class="fab fa-whatsapp"></i> WhatsApp
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Línea separadora -->
        <div class="separator-gradient ">
            <div class="line"></div>
          </div>

        <!-- Servicios section -->
        <section class="background-section py-20" id="servicios">
            <div class="container mx-auto">
                <div class="text-center">
                    <h2 class="section-title">Nuestros Servicios</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                    <div v-for="(servicio, index) in servicios" :key="index" 
                    class="servicio bg-white p-6 rounded-lg shadow-md text-center transform transition duration-300 hover:scale-105"
                    @mouseenter="expandServicio(index)"
                    @mouseleave="contraerServicio(index)">
                   <i :class="servicio.icono + ' text-5xl mb-4 text-blue-600'"></i>
                   <h3 class="text-xl font-semibold mb-2">{{ servicio.titulo }}</h3>
                   <p class="mb-4 descripcion" :class="{ 'expanded': servicio.expandido }">{{ servicio.descripcion }}</p>
                   <p class="detalle" :class="{ 'expanded': servicio.expandido }">{{ servicio.detalle }}</p>
                   <p class="text-center"><i class="fa-solid fa-chevron-down"></i></p>
               </div>
                </div>
            </div>
        </section>

    <!-- Nuestros Valores -->
    <section class="background-section  py-20" id="valores">
        <div class="container mx-auto">
            <div class="container mx-auto">
                <div class="text-center">
                    <h2 class="section-title">Nuestros Valores</h2>
                </div>
            <div class="grid md:grid-cols-1 md:grid-cols-3 gap-12">
                <div v-for="value in companyValues" :key="value.title" class="flip-card">
                    <div class="flip-card-inner">
                        <div class="servicio flip-card-front bg-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
                            <i :class="value.icon + ' text-6xl mb-4 text-blue-600'"></i>
                            <h3 class="text-xl font-semibold">{{ value.title }}</h3>
                            <p class="text-center px-10"><i class="fa-solid fa-arrows-rotate"></i></p>
                        </div>
                        <div class="flip-card-back bg-blue-600 text-white rounded-lg shadow-md p-6 flex flex-col items-center justify-center">
                            <p>{{ value.description }}</p>
                            <p class="mt-4 font-semibold">{{ value.additionalInfo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <!-- Línea separadora -->
        <div class="separator-gradient ">
            <div class="line"></div>
        </div>

        <!-- Marcas section -->
        <section class="marcas bg-white py-20" id="marcas">
            <div class="container mx-auto">
                <h2 class="section-title">Marcas</h2>
                <div class="slider-wrapper">
                    <div class="image-list">
                        <div v-for="marca in marcas" :key="marca.nombre" class="image-item">
                            <div class="image-wrapper">
                                <img :src="marca.imagen" :alt="marca.nombre" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-scrollbar">
                    <div class="scrollbar-track">
                        <div class="scrollbar-thumb"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Línea separadora -->
        <div class="separator-gradient ">
            <div class="line"></div>
        </div>

    <!-- Footer -->
    <footer class="footer bg-gray-800 text-white py-12">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <!-- Información de la empresa -->
                <div class="mb-4 md:mb-0">
                    <h3 class="text-2xl font-bold mb-4">Corporación El Obrero</h3>
                    <p class="mb-4">Tu ferretería de confianza para <strong>materiales de construcción y herramientas</strong> en Jocotán, Chiquimula.</p>
                </div>

                <!-- Información de contacto El Obrero -->
                <div>
                    <h4 class="text-xl font-semibold mb-4">Ferretería El Obrero</h4>
                    <div class="space-y-2">
                        <p><i class="fas fa-map-marker-alt mr-2"></i> Barrio el cementerio, frente al mercado municipal, Jocotán, Chiquimula, Guatemala.</p>
                        <p><i class="fas fa-phone mr-2"></i> +502 7946 5146</p>
                    </div>
                </div>

                <!-- Información de contacto Mega Obrero -->
                <div>
                    <h4 class="text-xl font-semibold mb-4">Ferretería Mega Obrero</h4>
                    <div class="space-y-2">
                        <p><i class="fas fa-map-marker-alt mr-2"></i> Calle Principal, Jocotán, Chiquimula, Guatemala.</p>
                        <p><i class="fas fa-phone mr-2"></i> +502 7946 5734</p>
                    </div>
                </div>
            </div>

            <!-- Enlaces rápidos -->
            <div class="mt-8 border-t border-gray-700 pt-8">
                <ul class="flex flex-wrap justify-center space-x-4">
                    <li><a href="index.html" class="hover:text-yellow-500 transition duration-300">Inicio</a></li>
                    <li><a href="tienda-el-obrero.html" class="hover:text-yellow-500 transition duration-300">El Obrero</a></li>
                    <li><a href="tienda-mega-obrero.html" class="hover:text-yellow-500 transition duration-300">Mega Obrero</a></li>
                    <li><a href="contacto.html" class="hover:text-yellow-500 transition duration-300">Contacto</a></li>
                </ul>
            </div>

            <!-- Redes sociales -->
            <div class="mt-8">
                <div v-for="tienda in redesSociales" :key="tienda.nombre" class="flex flex-wrap items-center justify-center space-x-4 mb-4">
                    <p class="font-bold">Redes Sociales {{ tienda.nombre }}:</p>
                    <a v-for="red in tienda.redes" :key="red.nombre" :href="red.link" target="_blank" class="text-white hover:text-yellow-500 transition duration-300">
                        <i :class="red.icono + ' text-2xl'"></i>
                    </a>
                </div>
            </div>

            <!-- Derechos de autor -->
            <div class="text-center mt-8 text-sm">
                <p>Desarrollado por <a href="https://github.com/Jio7g"> <u>JioDev</u></a> &copy; 2024 Corporación El Obrero. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    </div>
</div>
<!-- Scripts -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/index-app.js"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-N3H5PCBVQN');
  </script>
</body>
</html>